.buttons__container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .button__container {
        flex-basis: 100%;
        margin: 15px;
    }
}

.buttons {
    border: none;
    background-color: transparent;
    color: teal;
    transition: color 0.5s;
    cursor: pointer;
    margin-left: 15px;
}

.buttons:hover {
    color: rgb(17, 179, 179);
}

.buttons--hidden {
    display: none;
}

.buttons:disabled {
    color: #ccc;
}